@import "globals.css.scss";

article {
  padding: 20px 10px;
  //border-bottom: solid 2.5px $grey-1;
}

article header h1 {
  margin: 0px;
  max-width: 600px;
  //border-radius: 15px;
  //border-color: $grey-2;
}

header.post-header {
  overflow: auto;
  background-color: $grey-1;
  border-radius: 5px;
  //border: solid 2px $grey-1;
  padding: 5px;
}

.post-title {
  float: left;
  //display: inline-block;
}

.post-body {
  text-align: justify;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//.pagination {
//  overflow: auto;
//}
//
//.pagination .previous_page {
//  float: left;
//}
//
//.pagination .next_page {
//  float: right;
//}
//
//.pagination a, .pagination em {
//  float: center;
//}

